<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mundial Rusia 2018</title>

    <!-- Bootstrap core CSS -->
    <link href="../estaticos/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../estaticos/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../estaticos/css/grayscale.min.css" rel="stylesheet">
    <script type="text/javascript" src="../estaticos/js/jquery.js"></script>
    <script type="text/javascript" src="../estaticos/js/lodash.js"></script>
    <script type="text/javascript" src="../estaticos/js/FuncionesJS.js"></script>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Fixure Mundial Rusia 2018</h2>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <label id="inicio"> </label>
      <br>
      <div class="text-center">
        <button onclick="insert_equipos()" type="button" id="btn-octavos"> Cargar Grupos</button>
      </div>

      <script type="text/javascript">

        function insert_equipos(){

          // lista de objetos
          list_datos = [  {nombre:"Grupo H", partidos:["partido_1_gh","partido_2_gh","partido_3_gh"], llaves:["FECHA 1","FECHA 2","FECHA 3"]},
                          {nombre:"Grupo G", partidos:["partido_1_gg","partido_2_gg","partido_3_gg"], llaves:["FECHA 1","FECHA 2","FECHA 3"]},
                          {nombre:"Grupo F", partidos:["partido_1_gf","partido_2_gf","partido_3_gf"], llaves:["FECHA 1","FECHA 2","FECHA 3"]},
                          {nombre:"Grupo E", partidos:["partido_1_ge","partido_2_ge","partido_3_ge"], llaves:["FECHA 1","FECHA 2","FECHA 3"]},
                          {nombre:"Grupo D", partidos:["partido_1_gd","partido_2_gd","partido_3_gd"], llaves:["FECHA 1","FECHA 2","FECHA 3"]},
                          {nombre:"Grupo C", partidos:["partido_1_gc","partido_2_gc","partido_3_gc"], llaves:["FECHA 1","FECHA 2","FECHA 3"]},
                          {nombre:"Grupo B", partidos:["partido_1_gb","partido_2_gb","partido_3_gb"], llaves:["FECHA 1","FECHA 2","FECHA 3"]},
                          {nombre:"Grupo A", partidos:["partido_1_ga","partido_2_ga","partido_3_ga"], llaves:["FECHA 1","FECHA 2","FECHA 3"]},
                       ];

          //13 "divs"

          list_datos.forEach(function(grupo) {

          	$( "<div class='row'  style='padding-left:1%; padding-right:1%;'> \
                  <div class='col-sm-12'>\
                    <div class='card bg-dark text-white'>\
                      <div class='card-header' style='text-align:center;'>\
                        " + grupo.nombre + "\
                      </div>\
                      <div class='row'>\
                        <div class='col-sm-4'>\
                          <div class='card'>\
                            <div class='card-body'>\
                              <div class='card text-white bg-secondary mb-3'>\
                                <label style='text-align:center;'>" + grupo.llaves[0] + "</label>\
                                <form method='get' style='text-align:center;'>\
                                  <label id='" + grupo.partidos[0] + "'> </label>\
                                </form>\
                              </div>\
                            </div>\
                          </div>\
                        </div>\
                        <div class='col-sm-4'>\
                          <div class='card'>\
                            <div class='card-body'>\
                              <div class='card text-white bg-secondary mb-3'>\
                                <label style='text-align:center;'>" + grupo.llaves[1] + "</label>\
                                <form method='get' style='text-align:center;'>\
                                  <label id='" + grupo.partidos[1] + "'> </label>\
                                </form>\
                              </div>\
                            </div>\
                          </div>\
                        </div>\
                        <div class='col-sm-4'>\
                          <div class='card'>\
                            <div class='card-body'>\
                              <div class='card text-white bg-secondary mb-3'>\
                                <label style='text-align:center;'>" + grupo.llaves[2] + "</label>\
                                <form method='get' style='text-align:center;'>\
                                  <label id='" + grupo.partidos[2] + "'> </label>\
                                </form>\
                              </div>\
                            </div>\
                          </div>\
                        </div>\
                      </div>\
                    </div>\
                  </div>\
                </div>\
                        ").insertAfter( "#inicio");
      		});

          inicializar();

        }

      </script>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_equipos()" type="button" id="btn-octavos"> Cargar 8vos</button>
      </div>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_cuartos()" type="button" id="btn-cuartos" disabled> Cargar 4vos</button>
      </div>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_semis()" type="button" id="btn-semis" disabled> Cargar Semis</button>
      </div>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_final()" type="button" id="btn-final" disabled> Cargar Final</button>
      </div>
      <br>

    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Aplicaciones Web 2018</p>
        <p>Diaz Alan, Murua Federico</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../estaticos/js/jquery.min.js"></script>
    <script src="../estaticos/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../estaticos/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="../estaticos/js/grayscale.min.js"></script>

  </body>

</html>
