<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mundial Rusia 2018</title>

    <!-- Bootstrap core CSS -->
    <link href="../estaticos/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../estaticos/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../estaticos/css/grayscale.min.css" rel="stylesheet">
    <script type="text/javascript" src="../estaticos/js/jquery.js"></script>
    <script type="text/javascript" src="../estaticos/js/lodash.js"></script>
    <script type="text/javascript" src="../estaticos/js/FuncionesJS.js"></script>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Fixure Mundial Rusia 2018</h2>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <label id="inicio"> </label>
      <div class="row"  style="padding-left:1%; padding-right:1%;">
        <div class="col-sm-12">
          <div class="card bg-dark text-white">
            <div class="card-header" style="text-align:center;">
              GRUPO A
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card text-white bg-secondary mb-3">
                        <label style="text-align:center;">FECHA 1</label>
                        <form method="get" style="text-align:center;">
                          <label id="partido_1_ga"> </label>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card text-white bg-secondary mb-3">
                        <label style="text-align:center;">FECHA 2</label>
                        <form method="get" style="text-align:center;">
                          <label id="partido_2_ga"> </label>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card text-white bg-secondary mb-3">
                        <label style="text-align:center;">FECHA 3</label>
                        <form method="get" style="text-align:center;">
                          <label id="partido_3_ga"> </label>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button onclick="insert_equipos()" type="button" id="btn-octavos"> Cargar Grupos</button>
      </div>

      <script type="text/javascript">

        function insert_equipos(){

          // lista de objetos
          dict_datos = [  {"nombre":"Grupo A", "partidos":["partido_1_ga","partido_2_ga","partido_3_ga"], "llaves":["FECHA 1","FECHA 2","FECHA 3"]},
                          {"nombre":"Grupo B", "partidos":["partido_1_gb","partido_2_gb","partido_3_gb"], "llaves":["FECHA 1","FECHA 2","FECHA 3"]},
                          {"nombre":"Grupo C", "partidos":["partido_1_gc","partido_2_gc","partido_3_gc"], "llaves":["FECHA 1","FECHA 2","FECHA 3"]},
                          {"nombre":"Grupo D", "partidos":["partido_1_gd","partido_2_gd","partido_3_gd"], "llaves":["FECHA 1","FECHA 2","FECHA 3"]},
                          {"nombre":"Grupo F", "partidos":["partido_1_gf","partido_2_gf","partido_3_gf"], "llaves":["FECHA 1","FECHA 2","FECHA 3"]},
                          {"nombre":"Grupo E", "partidos":["partido_1_ge","partido_2_ge","partido_3_ge"], "llaves":["FECHA 1","FECHA 2","FECHA 3"]},
                          {"nombre":"Grupo G", "partidos":["partido_1_gg","partido_2_gg","partido_3_gg"], "llaves":["FECHA 1","FECHA 2","FECHA 3"]},
                          {"nombre":"Grupo H", "partidos":["partido_1_gh","partido_2_gh","partido_3_gh"], "llaves":["FECHA 1","FECHA 2","FECHA 3"]},
                          {"nombre":"OCTAVOS DE FINAL", "partidos":["octavos_1","octavos_2","octavos_3","octavos_4","octavos_5","octavos_6","octavos_7","octavos_8"], "llaves":["LLAVE 1","LLAVE 2","LLAVE 3","LLAVE 4"]},
                          {"nombre":"CUARTOS DE FINAL", "partidos":["cuartos_1","cuartos_2","cuartos_3", "cuartos_4"], "llaves":["LLAVE 1","LLAVE 2"]},
                          {"nombre":"SEMIFINAL", "partidos":["semis_1","semis_2"], "llaves":["LLAVE"]},
                          {"nombre":"3° PUESTO", "partidos":["tercer_puesto"], "llaves":["LLAVE"]},
                          {"nombre":"FINAL", "partidos":["final_1"], "llaves":["LLAVE FINAL"]}

                       ];

          //13 "divs"

          for(i=0;i<12;i++)
      		{

      			$( "<div class='row'  style='padding-left:1%; padding-right:1%;'> \
                  <div class='col-sm-12'>\
                    <div class='card bg-dark text-white'>\
                      <div class='card-header' style='text-align:center;'>\
                        " + dict_datos[i].nombre + "\
                      </div>\



                    </div>\
                  </div>\
                </div>\
                        ").insertAfter( "#inicio");

      		}



        }

      </script>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_equipos()" type="button" id="btn-octavos"> Cargar 8vos</button>
      </div>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_cuartos()" type="button" id="btn-cuartos" disabled> Cargar 4vos</button>
      </div>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_semis()" type="button" id="btn-semis" disabled> Cargar Semis</button>
      </div>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_final()" type="button" id="btn-final" disabled> Cargar Final</button>
      </div>
      <br>

    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Aplicaciones Web 2018</p>
        <p>Diaz Alan, Murua Federico</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../estaticos/js/jquery.min.js"></script>
    <script src="../estaticos/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../estaticos/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="../estaticos/js/grayscale.min.js"></script>

  </body>

</html>
