<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mundial Rusia 2018</title>

    <!-- Bootstrap core CSS -->
    <link href="../estaticos/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../estaticos/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../estaticos/css/css_googleapis.css" rel="stylesheet" type="text/css">
    <link href='../estaticos/css/css_googleapis2.css' rel='stylesheet' type='text/css'>
    <link href='../estaticos/css/estilos_campeon.css' rel='stylesheet' type='text/css'>
    <link href='../estaticos/css/tabla.css' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../estaticos/css/grayscale.min.css" rel="stylesheet">
    <script type="text/javascript" src="../estaticos/js/jquery.js"></script>
    <script type="text/javascript" src="../estaticos/js/lodash.js"></script>
    <script type="text/javascript" src="../estaticos/js/funcionesJS.js"></script>

  </head>

  <body id="page-top">

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Fixture Mundial Rusia 2018</h2>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="text-center">
        <button onclick="insert_equipos()" type="button" id="btn-grupos"> Cargar Grupos</button>
      </div>
      <label id="inicio"> </label> <!-- PUNTO DE INICIO DE LOS DIV CREADOS DINAMICAMENTE -->
      <label id='fin_div'> </label> <!-- PUNTO DE CIERRE DE LOS DIV CREADOS DINAMICAMENTE -->

      <script type="text/javascript">

        function insert_equipos(){

          // lista de objetos
          list_datos = [  //{nombre:"OCTAVOS", partidos:["partido_1_gh","partido_2_gh","partido_3_gh"], llaves:["FECHA 3","FECHA 2","FECHA 1"]},
                          {nombre:"Grupo H", partidos:["partido_3_gh","partido_2_gh","partido_1_gh"], llaves:["FECHA 3","FECHA 2","FECHA 1"]},
                          {nombre:"Grupo G", partidos:["partido_3_gg","partido_2_gg","partido_1_gg"], llaves:["FECHA 3","FECHA 2","FECHA 1"]},
                          {nombre:"Grupo F", partidos:["partido_3_gf","partido_2_gf","partido_1_gf"], llaves:["FECHA 3","FECHA 2","FECHA 1"]},
                          {nombre:"Grupo E", partidos:["partido_3_ge","partido_2_ge","partido_1_ge"], llaves:["FECHA 3","FECHA 2","FECHA 1"]},
                          {nombre:"Grupo D", partidos:["partido_3_gd","partido_2_gd","partido_1_gd"], llaves:["FECHA 3","FECHA 2","FECHA 1"]},
                          {nombre:"Grupo C", partidos:["partido_3_gc","partido_2_gc","partido_1_gc"], llaves:["FECHA 3","FECHA 2","FECHA 1"]},
                          {nombre:"Grupo B", partidos:["partido_3_gb","partido_2_gb","partido_1_gb"], llaves:["FECHA 3","FECHA 2","FECHA 1"]},
                          {nombre:"Grupo A", partidos:["partido_3_ga","partido_2_ga","partido_1_ga"], llaves:["FECHA 3","FECHA 2","FECHA 1"]},
                       ];

          //13 "divs"

          list_datos.forEach(function(grupo) {

           $("  <div class='row' style='padding-left:1%; padding-right:1%;'> \
                  <div class='col-sm-12'>\
                    <div class='card bg-dark text-white'>\
                      <div class='card-header' style='text-align:center;'>\
                        " + grupo.nombre + "\
                      </div>\
                      <div class='row'>\
                        <label id='inicio_llaves'> </label>\
                      ").insertAfter( "#inicio");

            i=0;  //indice para escribir id del partido

            grupo.llaves.forEach(function(llave) {

              $("   <div class='col-sm-4'>\
                          <div class='card text-white bg-secondary mb-3'>\
                            <label style='text-align:center;'>"+ llave +"</label>\
                            <form method='get' style='text-align:center;'>\
                              <label id='" + grupo.partidos[i] + "'> </label>\
                            </form>\
                      </div>\
                    </div>\
                            ").insertAfter("#inicio_llaves");
                i++;

            });

      		});

          $( "   </div>\
                </div>\
              </div>\
            </div>\
                    ").insertAfter('#fin_div');

          document.getElementById("btn-grupos").disabled = true; //habilitar boton de 4tos
          inicializar();

        }

      </script>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_equipos()" type="button" id="btn-octavos"> Cargar 8vos</button>
      </div>

      <br>

      <div class="row"  style="padding-left:1%; padding-right:1%;">
        <div class="col-sm-12">
          <div class="card bg-dark text-white">
            <div class="card-header" style="text-align:center;">
              OCTAVOS
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card text-white bg-secondary mb-3">
                    <label style="text-align:center;">LLAVE 1</label>
                    <form method="get" style="text-align:center;">
                      <label id="octavos_1"></label>
                    </form>
                    <form method="get" style="text-align:center;">
                      <label id="octavos_2"></label>
                    </form>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card text-white bg-secondary mb-3">
                    <label style="text-align:center;">LLAVE 2</label>
                    <form method="get" style="text-align:center;">
                      <label id="octavos_3"></label>
                    </form>
                    <form method="get" style="text-align:center;">
                      <label id="octavos_4"></label>
                    </form>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card text-white bg-secondary mb-3">
                    <label style="text-align:center;">LLAVE 3</label>
                    <form method="get" style="text-align:center;">
                      <label id="octavos_5"></label>
                    </form>
                    <form method="get" style="text-align:center;">
                      <label id="octavos_6"></label>
                    </form>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card text-white bg-secondary mb-3">
                    <label style="text-align:center;">LLAVE 4</label>
                    <form method="get" style="text-align:center;">
                      <label id="octavos_7"></label>
                    </form>
                    <form method="get" style="text-align:center;">
                      <label id="octavos_8"></label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_cuartos()" type="button" id="btn-cuartos" disabled> Cargar 4vos</button>
      </div>

      <br>

      <div class="row"  style="padding-left:1%; padding-right:1%;">
        <div class="col-sm-12">
          <div class="card bg-dark text-white">
            <div class="card-header" style="text-align:center;">
              CUARTOS
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card text-white bg-secondary mb-3">
                    <label style="text-align:center;">LLAVE 1</label>
                    <form method="get" style="text-align:center;">
                      <label id="cuartos_1"></label>
                    </form>
                    <form method="get" style="text-align:center;">
                      <label id="cuartos_2"></label>
                    </form>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card text-white bg-secondary mb-3">
                    <label style="text-align:center;">LLAVE 2</label>
                    <form method="get" style="text-align:center;">
                      <label id="cuartos_3"></label>
                    </form>
                    <form method="get" style="text-align:center;">
                      <label id="cuartos_4"></label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_semis()" type="button" id="btn-semis" disabled> Cargar Semis</button>
      </div>

      <br>

      <div class="row"  style="padding-left:1%; padding-right:1%;">
        <div class="col-sm-12">
          <div class="card bg-dark text-white">
            <div class="card-header" style="text-align:center;">
              SEMIS
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card text-white bg-secondary mb-3">
                    <label style="text-align:center;">LLAVES</label>
                    <form method="get" style="text-align:center;">
                      <label id="semis_1"></label>
                    </form>
                    <form method="get" style="text-align:center;">
                      <label id="semis_2"></label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="text-center">
        <button onclick="clasificacion_final()" type="button" id="btn-final" disabled> Cargar Final</button>
      </div>

      <br>

      <div class="row"  style="padding-left:1%; padding-right:1%;">
        <div class="col-sm-12">
          <div class="card bg-dark text-white">
            <div class="card-header" style="text-align:center;">
              FINAL
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card text-white bg-secondary mb-3">
                    <label style="text-align:center;">LLAVE 3° PUESTO</label>
                    <form method="get" style="text-align:center;">
                      <label id="tercer_puesto"></label>
                    </form>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card text-white bg-secondary mb-3">
                    <label style="text-align:center;">LLAVE FINAL</label>
                    <form method="get" style="text-align:center;">
                      <label id="final_1"></label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="text-center">
        <button onclick="campeon()" type="button" id="btn-campeon" disabled> Mostrar Campeón</button>
        <br>
        <img id="myImg" src="../imagenes/Copa_del_Mundo.jpg" width="300" height="200" style="display:none">
      </div>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <h1 id="caption"></h1>
      </div>

      <script>

      // Get the modal
      var modal = document.getElementById('myModal');

      // Get the image and insert it inside the modal - use its "alt" text as a caption

      var img = document.getElementById('myImg');
      var modalImg = document.getElementById("img01");
      var captionText = document.getElementById("caption");

      img.onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
          captionText.innerHTML = devolver_campeon();
      }

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
          modal.style.display = "none";
      }

      </script>



    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Aplicaciones Web 2018</p>
        <p>Diaz Alan, Murua Federico</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../estaticos/js/jquery.min.js"></script>
    <script src="../estaticos/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../estaticos/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="../estaticos/js/grayscale.min.js"></script>

  </body>

</html>
